body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

header h1{
    font-size: 50px;
    color: white;
    font-weight: normal;
}
header{
    text-align: center;
}

a {
    color: aquamarine;
    font-size: 16px;
}

div h3{
    font-size: 42px;
    font-weight: 300;
    color: white;
    text-align: center;
}

div p{
    font-size: 21px;
    color: gray;
    text-align: center;
}

div{
    text-align: center;
}

footer{
    text-align: right;
    color: gray;
}
footer p{
    font-size: 21px;
}
video{
    text-align: center;
}